body {
  background: #dddddd;
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  5% {
    transform: rotate(5deg);
  }
  6% {
    transform: rotate(-5deg);
  }
  7% {
    transform: rotate(5deg);
  }
  8% {
    transform: rotate(-5deg);
  }
  25% {
    transform: translateY(-100px);
  }
  50% {
    transform: translateY(80px);
  }
}
.iphones {
  display: flex;
  margin-top: 100px;
  margin-left: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .iphones {
    margin: 0;
  }
}

.iphone-6s, .iphone-x {
  height: 500px;
  width: 260px;
  background: red;
  margin: 50px;
  border-radius: 35px;
  box-sizing: border-box;
  position: relative;
  border: 5px solid #EFF7FF;
  transition: 0.5s;
  cursor: pointer;
}
.iphone-6s:hover, .iphone-x:hover {
  box-shadow: 10px 100px 50px rgba(0, 0, 0, 0.3);
  transform: translateY(-50px);
}

.iphone-6s {
  background: white;
}
.iphone-6s::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 15px;
  background: #EFF6EE;
  left: -8px;
  top: 55px;
  border-radius: 5px;
  box-shadow: 0 30px 0 #EFF6EE, 0 35px 0 #EFF6EE, 0 60px 0 #EFF6EE, 0 65px 0 #EFF6EE;
}
.iphone-6s .screen {
  width: 96%;
  height: 77%;
  background: linear-gradient(to top, #fcc5e4 0%, #fda34b 15%, #ff7882 35%, #c8699e 52%, #7046aa 71%, #0c1db8 87%, #020f75 100%);
  margin: auto;
  margin-top: 55px;
  position: relative;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}
.iphone-6s .screen::after {
  content: "";
  position: absolute;
  bottom: -50px;
  left: 40%;
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 50%;
  border: 2px solid #74757C;
  box-shadow: -40px -435px 0 -18px #74757C, 0px -450px 0 -19px #74757C;
}
.iphone-6s .screen::before {
  content: "";
  position: absolute;
  top: -27px;
  width: 45px;
  height: 4px;
  background: #74757C;
  left: 40%;
  border-radius: 100px;
}
@media screen and (max-width: 768px) {
  .iphone-6s {
    margin: 0;
    margin-top: 50px;
    width: 78%;
  }
}

.iphone-x {
  background: black;
  border-width: 0px;
  border-radius: 52px;
  width: 285px;
  height: 540px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.iphone-x::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 15px;
  background: black;
  left: -2px;
  top: 55px;
  border-radius: 5px;
  box-shadow: 0 30px 0 black, 0 35px 0 black, 0 60px 0 black, 0 65px 0 black;
}
.iphone-x::after {
  content: "";
  width: 50%;
  height: 30px;
  background: black;
  position: absolute;
  top: 0;
  border-radius: 0 0 10px 10px;
}
.iphone-x .screen {
  width: 93%;
  height: 95%;
  background: linear-gradient(to top, #020f75 0%, #0c1db8 15%, #ff7882 35%, #c8699e 52%, #7046aa 71%, #0c1db8 87%, #fcc5e4 100%);
  border-radius: 35px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .iphone-x {
    margin: 0;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 84%;
  }
}

.header {
  color: #eeeeee;
  font-size: 7px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 3px 5px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.header.x {
  margin-top: 5px;
  padding-right: 18px;
  padding-left: 18px;
  font-size: 10px;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: space-between;
}
.icons.x {
  margin-top: 25px;
}
.icons .icon {
  background: white;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 10px;
  border-radius: 5px;
  font-size: 20px;
  position: relative;
  flex-direction: column;
}
.icons .icon .badge {
  position: absolute;
  top: -5px;
  right: -5px;
  display: inline-block;
  background: red;
  font-size: 10px;
  padding: 3px;
  border-radius: 50%;
  font-family: Arial, Helvetica, sans-serif;
}
.icons .icon.message {
  background: #1677EF;
  color: white;
}
.icons .icon.camera {
  background: #cccccc;
}
.icons .icon.camera p {
  color: white;
}
.icons .icon.home {
  color: orange;
}
.icons .icon.home p {
  color: white;
}
.icons .icon.itunes {
  color: white;
  background: #F053EF;
}
.icons .icon.facetime {
  background: #22EA42;
  color: white;
}
.icons .icon.files {
  color: #1677EF;
}
.icons .icon.files p {
  color: white;
}
.icons .icon.twitter {
  color: white;
  background: #1677EF;
}
.icons .icon.facebook {
  background: #4156A7;
  color: white;
}
.icons .icon.youtube {
  color: red;
}
.icons .icon.youtube .badge {
  color: white;
}
.icons .icon p {
  position: absolute;
  font-size: 9px;
  bottom: -25px;
  letter-spacing: 1px;
  font-family: Arial, Helvetica, sans-serif;
}

.screen .footer {
  height: 50px;
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 10px;
}
.screen .footer.x {
  bottom: 20px;
  width: 95%;
  border-radius: 15px;
  left: 7px;
  background: rgba(255, 255, 255, 0.3);
}

/*# sourceMappingURL=main.css.map */
